body {
	background-color: #222;
	color: #E8E8E8;
}

iframe {
	position:fixed;
	width: 100%;
	height: calc(100% - 9.8em - 10px);
	border: none;
	background-color: #222;
}
section {
	position: absolute;
	bottom: 0px;
	padding: 0.4em 0 0.2em;
	font-size: 1.3em;
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: black;
	color: #E8E8E8;
}
nav {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
#buttons {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	scrollbar-color: #E8E8E8 transparent;
	margin: 0 0.15em;
}
#buttons::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
#buttons::-webkit-scrollbar-thumb {
	background: #E8E8E8;
	border-radius: 10px;
}
#buttons::-webkit-scrollbar-track {
	background: transparent;
}
body {
	margin: 0;
}
button {
	background-color: #222;
	color: #E8E8E8;
	padding: 0.6em 1.2em;
	text-decoration: none;
	border-radius: 0.8em;
	border: none;
	margin: 0.15em;
	white-space: nowrap;
	scroll-snap-align: start;
	flex-shrink: 0;
	transition: 0.3s;
}
button:hover, button.active {
	background-color: yellowgreen;
	color: black;
}
select {
	background-color: #222;
	color: #E8E8E8;
	padding: 0 0.7em;
	border-radius: 0.8em;
	border: #222 solid 0.6em;
	border-left-width: 0;
	margin: 0.15em;
	transition: 0.5s;
}

@media (prefers-reduced-motion) {
  .select {
    transition: none;
  }
}


select:hover, select.active  {
	background-color: yellowgreen;
	border-color: yellowgreen;
	color: black;
}

select option {
	background-color: #222;
	color: #E8E8E8;
	font-size: 1.5em;
}

p {
	margin: 0.2em;
}
